@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

body {
  background-color: white;
  font-family: "Lato", sans-serif;
}
header {
  background-color: whitesmoke;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 0;
}
h1 {
  color: black;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 60px;
}
h5 {
  color: rgb(110, 109, 109);
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 30px;
  padding: 0;
}
h6 {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 20px;
}
label {
  color: black;
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  font-size: 17px;
  text-align: center;
}
p {
  color: black;
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  font-size: 15px;
  text-align: center;
}
.alert-success {
  color: rgb(0, 0, 0);
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  border-color: rgb(85, 85, 85);
  background-image: linear-gradient(to bottom, #c7c7c7 0%, #868686 100%);
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a#newblog:link {
  color: rgb(53, 72, 100);
  text-decoration: none;
}
a#newblog:visited {
  color: rgb(53, 72, 100);
  text-decoration: none;
}

#articles,
.loginForm,
.links_ {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.title {
  margin: 0;
}

input {
  height: 30px;
  width: 500px;
  font-size: 17px;
}
form,
.loginForm,
.links_ {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 200;
}
input[type="text"] {
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
input[type="text"]:focus {
  border: 3px solid #555;
}
textarea {
  height: 100px;
  width: 500px;
  font-size: 15px;
}
input[type="submit"],
.actions {
  height: 30px;
  width: 500px;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
}
.signin_header{
  padding-bottom: 30px;
}
#user_remember_me {
  width: 30px;
}
.links_ {
  padding-top: 20px;
}